@font-face { font-family: Faune-Text_Regular; src: url('fonts/Faune-Text_Regular.ttf'); }
@font-face { font-family: Faune-Text_Regular; font-style: italic; src: url('fonts/Faune-Text_Italic.ttf');}

#landingPage{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#landingBox{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    background: #6dd0f7;

    justify-content: center;
    text-align: center;
    border-radius: 40px;
}
#landingText{

    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
    font-size: 1.8vw;
}
#arrow{
    width: 100%;
    height: 100%;

}
#arrowLink{
    width: 10%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
}
#tips{
    text-align: left;
}


.Box{
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    border-radius: 7px;

}
.BannerBar{

    order: 1;
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    flex-grow: 1;
    justify-content: space-evenly;
    width: 100%;
    height: 25%;
}
#Logo{
    border-top-left-radius: 5px;
    width: 12%;
    height: 100%;
}
#LogoPic{
    width: 100%;
    height: 100%;
}
#Banner{
    border-top-right-radius: 5px;
    width: 88%;
    height: 100%;
}
#BannerImg{
    width: 100%;
    height: 100%;
}
#MenuBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #6dd0f7;
    width: 100%;
    height: 8%;
    float: left;
    order: 2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: Bahnschrift;

}

.Menu{
    align-self: center;
    font-size: 1.5vw;
}


.Content{
    height: 91%;
    width: 100%;
    background: linear-gradient(#aae4fa, #6dd0f7);
    order: 3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: Faune-Text_Regular;
}
#comunityLVL1{
    display: flex;
    flex-direction: row;
}

#CaesarStory {
    width: 27vw;
    height: 87%;

    margin: 1.1vw;

    text-align: center;
    display: flex;
    flex-direction: column;
}

#MrsCipher{
    margin-left: 7%;
    margin-right: 7%;
    font-size: 1.4vw;
}
#MrsCipherHead{
    font-size: 1.5vw;
}


#CaesarPoem{

    width: 22vw;
    height: 48%;
    margin: 1.1vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.4vw;
}

.Poem{
    margin: auto;
}

#CaesarCode{
    text-align: center;
    height: 8vh;
    margin: auto;
    width: 26vw;
    display: flex;
    flex-direction: row;
}
#Code1{
    font-size: 1.7vw;
    margin: auto;
    text-align: center;
}
a:visited{
    color: black;
    text-decoration: none;
}
a:active{
    color: black;
    text-decoration: none;
}
a{
    color: black;
    text-decoration: none;
}
#passwordLVL1{
    font-size: 3vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    height: 8vh;
}
#LandingLVL1{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#PasswordField{
    font-size: 90%;
    width: 100%;

}
#LandingHint{
    font-size:2vw ;
}
#LogInButton{
    width: 50%;
    height: 40%;
    align-self: center;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #ffffff;
    font-size: 60%;
    padding: 0 10% 10% 10%;
    text-decoration: none;
    text-align: center;

}
#LogInButton:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
#CharContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

}
#Bagua{
    width: 32%;
    height: 32%;
    display: flex;
    flex-direction: column;
    align-self: center;

}
#BaguaPic{
    width: 80%;
    height: 80%;
}
#TheCharGif{
    width: 25%;
    height: 25%;
    align-self: center;
}
#CharGifImg{
    width: 100%;
    height: 100%;
    align-self: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#ImageAsFolder{
    width: 18%;
    height: 18%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
#BaguaText{
    text-align: left;
    font-size: 1.4vw;
}
#FolderTextHidden{
    color: rgba(102, 224, 255,0.6);
}
#FolderTextHidden:hover{
    color: white;
}
#ImageAsFolderText{
    font-size: 1.4vw;
    text-align: center;
}
#MirrorPuzzle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#ManyFaces{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4vw;
    margin-top: auto;
    margin-bottom: auto;
}
#mirroredText{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
}
#BaguaFamily{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#TheNewClinic{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;

    height: 100%;
    font-size: 1.4vw;
}
#NewClinicP1{
    height: 50%;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}
#NewClinicP2{
    height: 50%;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}
#BaguaWinnersTitle{
    color: red;
}


/* LVL2 */

#funContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#funText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    width: 40%;
    font-size: 1.4vw;
}
#funStory{

}

#funMorse{

}
#funPassField{
    width: 100%;
    height: 10%;
}
#funPass{
    font-size: 100%;
}
#FunPassButton{
    width: 10%;
    height: 45%;
    align-self: center;

    text-align: center;
}
#FunPassButton:hover{

}