
/*GENERAL    00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
@font-face { font-family: Faune-Text_Regular; src: url('fonts/Faune-Text_Regular.ttf'); }
@font-face { font-family: Faune-Text_Regular; font-style: italic; src: url('fonts/Faune-Text_Italic.ttf');}

.Box{
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    border-radius: 7px;
}
.BannerBar{
    margin-left: auto;
    margin-right: auto;
    order: 1;
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    flex-grow: 1;
    justify-content: space-between;
    width: 86%;
    height: 25%;
}
#Logo{
    border-top-left-radius: 5px;
    width: 15%;
    height: 78%;
    margin: auto;
}
#LogoPic{
    width: 100%;
    height: 100%;
}
#Banner{
    border-top-right-radius: 10px;
    width: 76%;
    height: 100%;
}
#BannerImg{
    border-top-right-radius: 5px;
    width: 100%;
    height: 100%;
}
#MenuBar {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #6dd0f7;
    width: 86%;
    height: 8%;
    float: left;
    order: 2;
    font-family: Bahnschrift;

}
.Menu{
    border-radius: 8px;
    margin-left: 2%;
    margin-right: 2%;
    align-self: center;
    font-size: 1.2vw;
    padding: 0.8%;
    background-color: #0db1f2;

}
.Menu:hover{
    background-color: #86d8f9;
}
.Content{
    margin-left: auto;
    margin-right: auto;
    height: 91%;
    width: 86%;
    order: 3;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-family: Faune-Text_Regular;
}
a:visited{
     color: black;
     text-decoration: none;
 }
a:active{
    color: black;
    text-decoration: none;
}
a{
    color: black;
    text-decoration: none;
}
/*LANDING    00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
#landingPage{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: Faune-Text_Regular;
}
#arrow{
     width: 100%;
     height: 100%;

 }
#arrowLink{
    width: 10%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
}
#tips{
    text-align: left;
}
#landingBox{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    background: linear-gradient(rgba(37, 185, 244, 0.5), rgba(9, 124, 170, 0.5));
    justify-content: center;
    text-align: center;
    border-radius: 40px;
}

#landingText {

    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
    font-size: 1.8vw;

/*LVL1      000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
    /*PASSWORD_GENERAL     000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/


}
#passwordLVL1{
    font-size: 3vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    height: 8vh;

}
#LandingLVL1{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(#aae4fa, #6dd0f7);
}
#PasswordField{
    font-size: 90%;
    width: 100%;

}
#LandingHint{
    font-size:2vw ;
}
#LogInButton{
    font-family: Faune-Text_Regular;
    width: 50%;
    height: 60%;
    align-self: center;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #000000;
    font-size: 58%;
    padding: 0 10% 15% 10%;
    text-decoration: none;
    text-align: center;

}
#LogInButton:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

    /*NEWS LVL1     000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */
#CharContent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;

}
#BaguaContent{
    justify-content: center;
    background: linear-gradient(#aae4fa, #6dd0f7);
}
#imgToGif{
    width: 100%;
    height: 100%;
}
#Bagua{
    margin-top: auto;
    margin-bottom: auto;
    width: 32%;
    height: 32%;
    display: flex;
    flex-direction: column;
    align-self: center;

}
#BaguaPic{
    width: 80%;
    height: 80%;
}
#TheCharGif{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    width: 25%;
    height: 25%;
    align-self: center;
}
#CharGifImg{
    width: 100%;
    height: 100%;
    align-self: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#ImageAsFolder{
    width: 18%;
    height: 18%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}
#BaguaText{
    text-align: left;
    font-size: 1.4vw;
}
#FolderTextHidden{
    color: rgba(102, 224, 255,0.6);
}
#FolderTextHidden:hover{
    color: white;
}
#ImageAsFolderText{
    font-size: 1.4vw;
    text-align: center;
}

    /*ABOUT LVL1      00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
#aboutContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(#aae4fa, #6dd0f7);
}
#TheNewClinic{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    height: 100%;
    font-size: 1.4vw;
}
#NewClinicP1{
    height: 50%;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}
#NewClinicP2{
    height: 50%;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}
#BaguaWinnersTitle{
    color: red;
}
    /*CONTACTS LVL1      00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
#MirrorPuzzle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(#aae4fa, #6dd0f7);
}
#ManyFaces{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4vw;
    margin-top: auto;
    margin-bottom: auto;
}
#mirroredText{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
}
    /*COMMUNITY LVL1      0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
#CaesarStory {
    width: 33%;
    height: 87%;
    margin-top: 5%;
    margin-left: 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#MrsCipher{
    margin-left: 7%;
    margin-right: 7%;
    font-size: 1.4vw;
}
#MrsCipherHead{
    font-size: 1.5vw;
}


#CaesarPoem{

    width: 26%;
    height: 48%;
    margin-top: 4%;
    margin-right: 1.8%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.4vw;
}

.Poem{
    margin: auto;
}

#CaesarCode{
    text-align: center;
    height: 8vh;
    margin: auto;
    width: 26vw;
    display: flex;
    flex-direction: row;
}
#Code1{
    font-size: 1.7vw;
    margin: auto;
    text-align: center;
}

#comunityLVL1{
    display: flex;
    flex-direction: row;
    background: linear-gradient(#aae4fa, #6dd0f7);
}


/* LVL2   00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
#LandingLVL2 {
    background: linear-gradient(#ffffff, #8c8c8c);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#MenuBar2 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #404040;
    width: 86%;
    height: 8%;
    float: left;
    order: 2;
    font-family: Bahnschrift;

}
.Menu2{
    border-radius: 8px;
    margin-left: 2%;
    margin-right: 2%;
    align-self: center;
    font-size: 1.2vw;
    padding: 0.8%;
    background-color: #666666;

}
.Menu2:hover {
    background-color: #8c8c8c;
}
#LogInButton2{
    font-family: Faune-Text_Regular;
    width: 50%;
    height: 60%;
    align-self: center;
    background: #666666;
    background-image: -webkit-linear-gradient(top, #666666, #ffffff);
    background-image: -moz-linear-gradient(top, #666666, #ffffff);
    background-image: -ms-linear-gradient(top, #666666, #ffffff);
    background-image: -o-linear-gradient(top, #666666, #ffffff);
    background-image: linear-gradient(to bottom, #666666, #ffffff);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #000000;
    font-size: 58%;
    padding: 0 10% 15% 10%;
    text-decoration: none;
    text-align: center;

}
#LogInButton2:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #ffffff, #666666);
    background-image: -moz-linear-gradient(top, #ffffff, #666666);
    background-image: -ms-linear-gradient(top, #ffffff, #666666);
    background-image: -o-linear-gradient(top, #ffffff, #666666);
    background-image: linear-gradient(to bottom, #ffffff, #666666);
    text-decoration: none;
}

    /* FUN_CORNER LVL2    0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
#funContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background: linear-gradient(#ffffff, #8c8c8c);
}

#funText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    width: 40%;
    font-size: 1.4vw;
}
#funStory{

}

#funMorse{

}
#funPassField{
    width: 100%;
    height: 10%;
}
#funPass{
    font-size: 100%;
}
#FunPassButton{
    width: 10%;
    height: 45%;
    align-self: center;
    font-family: Faune-Text_Regular;
    background: #666666;
    background-image: -webkit-linear-gradient(top, #666666, #ffffff);
    background-image: -moz-linear-gradient(top, #666666, #ffffff);
    background-image: -ms-linear-gradient(top, #666666, #ffffff);
    background-image: -o-linear-gradient(top, #666666, #ffffff);
    background-image: linear-gradient(to bottom, #666666, #ffffff);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #000000;
    font-size: 80%;
    padding: 0 1% 1.5% 1%;
    text-decoration: none;
    text-align: center;
}
#FunPassButton:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #ffffff, #666666);
    background-image: -moz-linear-gradient(top, #ffffff, #666666);
    background-image: -ms-linear-gradient(top, #ffffff, #666666);
    background-image: -o-linear-gradient(top, #ffffff, #666666);
    background-image: linear-gradient(to bottom, #ffffff, #666666);
    text-decoration: none;
}

    /*  FEEDBACK LVL2    00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
#feedbackContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(#ffffff, #8c8c8c);
}

#feedbackMail{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#feedText{
    font-size: 1.5vw;
}
#FeedbackButton{
    width: 12%;
    font-family: Faune-Text_Regular;
    height: 7%;
    align-self: center;
    background: #666666;
    background-image: -webkit-linear-gradient(top, #666666, #ffffff);
    background-image: -moz-linear-gradient(top, #666666, #ffffff);
    background-image: -ms-linear-gradient(top, #666666, #ffffff);
    background-image: -o-linear-gradient(top, #666666, #ffffff);
    background-image: linear-gradient(to bottom, #666666, #ffffff);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #000000;
    padding: 0.2% 1% 0.4% 1%;
    text-decoration: none;
    text-align: center;

    font-size: 1.3vw;
}
#FeedbackButton:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #ffffff, #666666);
    background-image: -moz-linear-gradient(top, #ffffff, #666666);
    background-image: -ms-linear-gradient(top, #ffffff, #666666);
    background-image: -o-linear-gradient(top, #ffffff, #666666);
    background-image: linear-gradient(to bottom, #ffffff, #666666);
    text-decoration: none;
}
#feedbackPass{
    font-size: 1.6vw;
}
#feedPassField{
    width: 90%;
}
/*   EMPLOYEE CHAT LVL2  00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
#chatArea{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: Faune-Text_Regular;
    font-size: 1.2vw;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    background: linear-gradient(#ffffff, #8c8c8c);
}
#dialogue{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
    height: 70%;
}
#dialogueVol2{
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 50%;
    height: 70%;

}
.Philip{
    text-align: left;
    margin: 0.3%;
}
.Scarlett{
    text-align: right;
    margin: 0.3%;
}
#S1{
    border-radius: 8px;
    background-color: #ffffff;
    width: 18%;
    text-align: center;
    margin-top: 2%;
    margin-left: 1%;

}
#S2{
    border-radius: 8px;
    background-color: #ffffff;
    width: 20%;
    text-align: center;
    margin-bottom: 2%;
    margin-left: 1%;
}
#S3{
    border-radius: 8px;
    background-color: #ffffff;
    width: 33%;
    text-align: center;
    margin-bottom: 1%;
    margin-left: 1%;
}
#S4{
    border-radius: 8px;
    background-color: #ffffff;
    width: 19%;
    text-align: center;
    margin-bottom: 2%;
    margin-left: 1%;
}
#S5{
    border-radius: 8px;
    background-color: #ffffff;
    width: 61%;
    text-align: center;
    margin-bottom: 2%;
    margin-left: 1%;
}
#S6{
    border-radius: 8px;
    background-color: #ffffff;
    width: 56%;
    text-align: center;
    margin-left: 1%;
}
#P1{
    border-radius: 8px;
    background-color: #ffffff;
    width: 24%;
    text-align: center;
    margin-left: auto;
    margin-top: 2%;
    margin-right: 1%;
}
#P2{
    border-radius: 8px;
    background-color: #ffffff;
    width: 30%;
    text-align: center;
    margin-left: auto;
    margin-bottom: 2%;
    margin-right: 1%;
}
#P3{
    border-radius: 8px;
    background-color: #ffffff;
    width: 43%;
    text-align: center;
    margin-left: auto;
    margin-bottom: 1%;
    margin-right: 1%;
}
#P4{
    border-radius: 8px;
    background-color: #ffffff;
    width: 64%;
    text-align: center;
    margin-left: auto;
    margin-bottom: 2%;
    margin-right: 1%;
}
#P5{
    border-radius: 8px;
    background-color: #ffffff;
    width: 13%;
    text-align: center;
    margin-left: auto;
    margin-bottom: 2%;
    margin-right: 1%;
}
#P6{
    border-radius: 8px;
    background-color: #ffffff;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-bottom: 1%;
    margin-right: 1%;
}
#P7{
    border-radius: 8px;
    background-color: #ffffff;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: 1%;
}
#W1{
    border-radius: 8px;
    background-color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: 1%;


}
.blue:hover{
    color: blue;
    font-size: 130%;
}
.green:hover{
    color: darkgreen;
    font-size: 130%;
}
.red:hover{
    color: red;
    font-size: 130%;
}
.grey:hover{
    color: grey;
    font-size: 130%;
}
.purple:hover{
    color: purple;
    font-size: 130%;
}
.gold:hover{
    color: gold;
    font-size: 130%;
}
.pink:hover{
    color: pink;
    font-size: 130%;
}
.brown:hover{
    color: brown;
    font-size: 130%;
}
/*  MAP LVL2     000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
#mapArea{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(#ffffff, #8c8c8c);
}
#mapName{
    text-align: center;
}
#map{
    text-align: center;
    font-family: calibri;
    font-size: 1.3vw;
}
#start{
    cursor: pointer;
}
.r1:hover{
    color: red;
}
.r2:hover{
    color: red;
}
/*  FAN CLUB    00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
#runeArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(#ffffff, #8c8c8c);
}
#runicText{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#runes{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
    height: 20%;
}
#runeField{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.runLet{
    margin-bottom: auto;
    margin-top: auto;
}
#runeStory{
    width: 70%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.6vw;

}
#cult{
    margin-top: auto;
}
#runePassButton{
    width: 12%;
    font-family: Faune-Text_Regular;
    height: 100%;
    align-self: center;
    background: #666666;
    background-image: -webkit-linear-gradient(top, #666666, #ffffff);
    background-image: -moz-linear-gradient(top, #666666, #ffffff);
    background-image: -ms-linear-gradient(top, #666666, #ffffff);
    background-image: -o-linear-gradient(top, #666666, #ffffff);
    background-image: linear-gradient(to bottom, #666666, #ffffff);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #000000;
    padding: 0 1% 2% 1%;
    text-decoration: none;
    text-align: center;

    font-size: 1.2vw;
}
#runePassButton:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #ffffff, #666666);
    background-image: -moz-linear-gradient(top, #ffffff, #666666);
    background-image: -ms-linear-gradient(top, #ffffff, #666666);
    background-image: -o-linear-gradient(top, #ffffff, #666666);
    background-image: linear-gradient(to bottom, #ffffff, #666666);
    text-decoration: none;
}
    /* lvl 3    00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/* LOG IN PAGE 000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/

#LogInButton3{
    font-family: Faune-Text_Regular;
    width: 50%;
    height: 60%;
    align-self: center;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #800000, #660000);
    background-image: -moz-linear-gradient(top, #800000, #660000);
    background-image: -ms-linear-gradient(top, #800000, #660000);
    background-image: -o-linear-gradient(top, #800000, #660000);
    background-image: linear-gradient(to bottom, #800000, #660000);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #000000;
    font-size: 58%;
    padding: 0 10% 15% 10%;
    text-decoration: none;
    text-align: center;

}
#LogInButton3:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #b30000, #e60000);
    background-image: -moz-linear-gradient(top, #b30000, #e60000);
    background-image: -ms-linear-gradient(top, #b30000, #e60000);
    background-image: -o-linear-gradient(top, #b30000, #e60000);
    background-image: linear-gradient(to bottom, #b30000, #e60000);
    text-decoration: none;
}
#LandingLVL3 {
    background: linear-gradient(#660000, #330000);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#MenuBar3 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #0d0d0d;
    width: 86%;
    height: 8%;
    float: left;
    order: 2;
    font-family: Bahnschrift;

}
.Menu3{
    border-radius: 8px;
    margin-left: 2%;
    margin-right: 2%;
    align-self: center;
    font-size: 1.2vw;
    padding: 0.8%;
    background-color: #4d0000;

}
.Menu3:hover {
    background-color: #b30000;
}
#Logo3{
    border-top-left-radius: 5px;
    width: 15%;
    height: 100%;
    margin: auto;
}
.Box3{
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    border-radius: 7px;
    background-color: #800000;
}
#finalLvl{
    background-color: #800000;
}
.BannerBar3{
    margin-left: auto;
    margin-right: auto;
    order: 1;
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    flex-grow: 1;
    justify-content: space-between;
    width: 86%;
    height: 25%;
    background-color:#660000 ;
}
    /*  Mission LVL 3 00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/

#missionContent{
    display: flex;
    flex-flow: column;
    justify-content: center;
    background: linear-gradient(#660000, #330000);
    cursor: pointer;
}
#missionTextArea{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
}
#missionTitle{
    margin-right: auto;
    margin-left: auto;
    color: white;
}
#missionText{
    font-size: 130%;
    text-align: center;
}
#missionTextStyle{
    color: white;
}
.people{
    color: white;
    cursor: pointer;
}
.people:hover{
    color: rgba(77, 0, 0, 1);
    cursor: pointer;
}
.normalWord{
    color: white;
}
    /*  locked out LVL3 000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
#finalLvlLocked{
    background-color: #e60000;
}
.Box3Locked{
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    border-radius: 7px;
    background-color: #e60000;
}
#lockedContent{
    background: #cc0000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#deniedText{
    font-size: 230%;

}
#lockImg{
    width: 20%;
    height: 35%;
}
    /*  credits 00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/

#exitPage{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: Faune-Text_Regular;

}

#exitBox{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    background: #b30000;
    justify-content: center;
    text-align: center;
    border-radius: 40px;
}

#exitText {

    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
    font-size: 1.8vw;
}
#exitBody{
    background: linear-gradient(#660000, #330000);
}
#credits{
    font-size: 300%;
}